[Unit]
Description=Decred Full Node

[Service]
Type=simple
User=hdfd
Group=hdfd
WorkingDirectory=/var/hdfd
ExecStart=/opt/decred/bin/hdfd --appdata=/var/hdfd
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
